server:
  port: 9045

#spring:
#  security:
#    oauth2:
#      resourceserver:
#        jwt:
#          issuer-uri: https://localhost:9443/oauth2/token
#  ssl:
#    trust-store: classpath:truststore.jks
#  security:
#    oauth2:
#      client:
#        registration:
#          github:
#            clientId: Ov23liyUbQErJffy9OYV
#            clientSecret: c98de1209ebda86979b03ec5816e103f19f255d4
spring:
  application:
    name: contract-service
#  zipkin:
#    base-url: http://localhost:9411
#    enabled: true
#  sleuth:
#    sampler:
#      probability: 1.0
  datasource:
    url: jdbc:mysql://localhost:3306/contractDb
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

#  data:
#    elasticsearch:
#      client:
#        reactive:
#          endpoints: localhost:9200
#      repositories:
#        enabled: true
#
#  elasticsearch:
#    uris: http://localhost:9200
resilience4j:
  circuitbreaker:
    instances:
      contract-service-cb:
        registerHealthIndicator: true
        slidingWindowSize: 6
        minimumNumberOfCalls: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 6
  retry:
    instances:
      contract-service-retry:
        max-attempts: 3
        waitDuration: 2s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2

  timelimiter:
    instances:
      contract-service-tL:
        contract-service-timeout:
          timeOutDuration: 5s
          cancelRunningFuture: true

  ratelimiter:
    instances:
      contract-service-rateLimit:
        limitForPeriod: 5
        limitRefreshPeriod: 1s

  bulkhead:
    instances:
      transactionBulkHead:
        maxConcurrentCalls: 10
        maxWaitDuration: 2s
      notificationBulkhead:
        coreThreadPoolSize: 5
        maxThreadPoolSize: 10
        queueCapacity: 20









logging:
  file:
    name: C:\Users\Hewlett Packard\Downloads\EWalletProject\EWalletProject\logs\contract-service.log
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.cloud.sleuth: DEBUG
    org.springframework.cloud.sleuth.instrument: DEBUG
    org.springframework.cloud.sleuth.instrument.web.client.TraceRestTemplateInterceptor: DEBUG

#  pattern:
#    console: "%d{HH:mm:ss.SSS} %-5level [${PID}] [thread=%t] [traceId=%X{X-B3-TraceId}, spanId=%X{X-B3-SpanId}] %logger{36} - %msg%n"
