server:
  port: 6000

spring:
  shard:
    count: 4

  zipkin:
    base-url: http://localhost:9412
    enabled: true
  datasource:
    shard0:
      url: jdbc:mysql://localhost:3306/walletdb_shard0?createTableIfNotExists=true
      username: root
      password: MyNewPassword
      driver-class-name: com.mysql.cj.jdbc.Driver
    shard1:
      url: jdbc:mysql://localhost:3306/walletdb_shard1?createTableIfNotExists=true
      username: root
      password: MyNewPassword
      driver-class-name: com.mysql.cj.jdbc.Driver
    shard2:
      url: jdbc:mysql://localhost:3306/walletdb_shard2?createTableIfNotExists=true
      username: root
      password: MyNewPassword
      driver-class-name: com.mysql.cj.jdbc.Driver
    shard3:
        url: jdbc:mysql://localhost:3306/walletdb_shard3?createTable
        username: root
        password: MyNewPassword
        driver-class-name: com.mysql.cj.jdbc.Driver
    shard4:
        url: jdbc:mysql://localhost:3306/walletdb_shard4?createTableIfNotExists=true
        username: root
        password: MyNewPassword
        driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true

logging:
  file:
    name: C:\Users\Hewlett Packard\Downloads\EWalletProject\EWalletProject\logs\wallet-service.log
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.cloud.sleuth: DEBUG
    org.springframework.cloud.sleuth.instrument: DEBUG
    org.springframework.cloud.sleuth.instrument.web.client.TraceRestTemplateInterceptor: DEBUG

  pattern:
    console: "%d{HH:mm:ss.SSS} %-5level [${PID}] [thread=%t] [traceId=%X{X-B3-TraceId}, spanId=%X{X-B3-SpanId}] %logger{36} - %msg%n"


