spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Bunny-0/EWallet-Configs.git
          default-label: main
          clone-on-start: true
          force-pull: true
          skip-ssl-validation: true
